body {
  background-color: #000000;
  margin: 0px;
  padding: 0px;
}

main {
  max-width: 800px;
  background: #ffffff;
}

#surreyBuildings, #richmondBuildings, #langleyBuildings, #questionBuilding, #questionFloor, #fillerFloor, #applyButton {
  display: none;
}

.kpuStyling {
  color:#7d3140;
  font-weight:bold;
}
